.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--egg{
        background-image: url('../imgs/desktop/image-transform.jpg');
    }
    &--glass{
        background-image: url('../imgs/desktop/image-stand-out.jpg');
    }

    @include for-mobile-only{
        height: 30rem;
    }
} 