@import '../base/_variables.scss';

.text-component{
    padding: 20rem 10rem;
    @include for-mobile-only{
        padding: 10rem 3rem;
    }

    &--remove-padding{
        padding: 0;   
    }

    display: flex;
    flex-direction: column;
    row-gap: 5rem;

    &--smaller-size{
        row-gap: 3rem;
    }

    &__heading{
        font-family: 'Fraunces', serif;
        font-size: 4rem;
        color: $color-black-1;

        &--center-text{
            text-align: center;
        }

        @include for-mobile-only{
            text-align: center;
        }

        &--small{
            font-size: 2rem
        }
    }

    &__paragraph{
        font-family: 'Barlow', sans-serif;
        font-weight: 400;
        letter-spacing: 0.25rem; 
        line-height: 150%;

        &--center-text{
            text-align: center;
        }

        @include for-mobile-only{
            text-align: center;
        }
    }

    &__link-container{
        @include for-mobile-only{
            text-align: center;
        }
    }

    &__link:link,&__link:visited{
        display: inline-block;
        position: relative;
        &::after{
            transition: all 0.2s;
            position: absolute;
            content: '';
            width: 0%;
            background-color: $color-yellow;
            left: 0;
            bottom: 2px;
            height: 5px;
            border-radius: 25%;

            z-index: -1;
        }
    }
    &__link:hover::after{
        width: 100%;
    }
}