html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
}

.h2{
    font-family: 'Fraunces', serif;
    font-size: 4rem;
    color: $color-black-1;

    &--center-text{
        text-align: center;
    }

    @include for-mobile-only{
        text-align: center;
    }
}

.h3{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: $color-black-1;

    &--center-text{
        text-align: center;
    }

    @include for-mobile-only{
        text-align: center;
    }
}

.testimonials-heading{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: rgba($color-black-1, 0.6);
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    text-align: center;
}

.h4{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: rgba($color-black-1, 0.6);
}

.body-text{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25rem; 
    line-height: 150%;

    &--center-text{
        text-align: center;
    }

    @include for-mobile-only{
        text-align: center;
    }
}

.nav-bar__logo{
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
}

.nav-bar__text{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;

    &--contact-text{
        font-family: 'Fraunces', serif;
    }
}