.u-margin-top-big{
    margin-top: 3rem;
}
.u-margin-bottom-big{
    margin-bottom: 3rem;
}

.u-margin-top-large{
    margin-top: 7rem;
}
.u-margin-bottom-large{
    margin-bottom: 7rem;
}

.u-margin-top-small{
    margin-top: 1rem;
}

.one-two-ordering{
    & > *:first-child{
        order: 1;
    }
    & > *:last-child {
        order: 2;
    }

    @include for-mobile-only{
        & > *:first-child{
            order: 2;
        }
        & > *:last-child {
            order: 1;
        }
    }
} 