$color-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-blue: hsl(198, 62%, 26%);

$color-cyan-1: hsl(167, 40%, 24%);
$color-cyan-2: hsl(168, 34%, 41%);

$color-black-1: hsl(212, 27%, 19%);
$color-black-2: hsl(213, 9%, 39%);
$color-black-3: hsl(232, 10%, 55%);

$color-white-1: hsl(0, 0%, 100%);
$color-white-2: hsl(210, 4%, 67%);