section.hero{
    position: relative;
    width: 100vw;
    height: 100vh;

    background-image: url('../imgs/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .hero__heading{
        position: absolute;
        left: 51%;
        top: 25%;
        color: $color-white-1;
        transform: translateX(-50%);

        font-family: 'Fraunces', serif;
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.75rem;
        text-align: center;
    }

    .hero__down-arrow{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
    }
}

section.testimonials-section{
    padding: 5rem 15rem 15rem 15rem;
    @include for-tablet-and-lower{
        padding: 3rem;
    }
    .testimonials{
        display: flex;
        column-gap: 3rem;
        row-gap: 10rem;

        @include for-mobile-only{
            flex-direction: column;
        }
    }
}

.photo-gallery{
    display: flex;
    @include for-mobile-only{
        flex-direction: column;
    }

    &__row{
        flex: 1 1 100%;
        display: flex;

        img{
            width: 50%;
            object-fit: contain;
        }
    }
}

footer{
    padding: 10rem;
    background-color: $color-cyan-2;
    color: $color-cyan-1;
    // font-weight: 600;
    @include for-mobile-only{
        padding: 7rem;
    }

    text-align: center;

    ul{
        list-style-type: none;
        display: flex;
        column-gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .icon-box{
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        column-gap: 8rem;

        @include for-mobile-only{
            column-gap: 4rem;
        }
    }
}